extends ../index

block content
  h1 Edit Animal Record
  form(method="POST" action="/updateData")
    label(for="zoo") Zoo:
    input(type="text", id="zoo", name="zoo")
    br

    label(for="scientificName") Scientific Name:
    input(type="text", id="scientificName", name="scientificName")
    br

    label(for="commonName") Common Name:
    input(type="text", id="commonName", name="commonName")
    br

    label(for="givenName") Given Name:
    input(type="text", id="givenName", name="givenName")
    br

    label(for="gender") Gender:
    select(id="gender", name="gender")

    br

    label(for="dateOfBirth") Date of Birth:
    input(type="date", id="dateOfBirth", name="dateOfBirth")
    br

    label(for="age") Age:
    input(type="number", id="age", name="age")
    br

    label(for="isTransportable") Transportable:
    input(type="checkbox", id="isTransportable", name="isTransportable")
    br

    button(type="submit") Update Animal Record

  form(method="POST" action="/deleteData")
    button(type="submit") Delete Animal Record

